@import "{{ site.theme }}";

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    padding-right:10;
  }

  @include breakpoint($x-large) {
    padding-right: 10;
  }
}
.page {
  @include breakpoint($large) {
    float: right;
    padding-right: 10;
  }

  @include breakpoint($x-large) {
    padding-right: 10;
  }
