---
---

@import "{{ site.theme }}";

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(50% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(50% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}
