---
---

@import "{{ site.theme }}";
.crop{
        height: 20px;
        overflow: hidden;
    }
}
@media screen and (min-width: 800px) {
    
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
section {
    width: 700px;
    float: right;
    padding-bottom: 50px;
    }
.image1{
width:85%;
}
.image2{
width:60%;
margin:10px
}
.image3{
width:55%;
}    
.image4{
width:35%;
}    
}
