---
---

@import "{{ site.theme }}";
@media screen and (min-width: 800px) {
    
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
section {
    width: 700px;
    float: right;
    padding-bottom: 50px;
}
.image1
{
width:110%;
}
.image2
{
width:100%;
}
.image3
{
width:85%;
}
.image4
{
width:60%;
margin:10px
}
.image5
{
width:55%;
}    
.image6
{
width:35%;
}    
}
